<!DOCTYPE html>
<html ng-app="myApp">

<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js"></script>
    <script src="vendors/jquery-2.2.3.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <title>Disinfectant Selector Home Page</title>
  </head>
  <body>
    <div ng-controller='productController'>
      <h1>Hospital-Grade Disinfectant Selector</h1>
        <h3>Welcome!</h3>
          <p>copy</p>
        <h3>How to use this tool:</h3>
          <p>how to use copy</p>
        <h3>About medical surface disinfection</h3>
    <button type="button" name-"button"><a href="/questionnaire">Continue</button></a>
      <p>copyright 2016 Susan Rehl</p>
      <p>Disclaimer: This tool is intended to assist hospital personnel in selecting surface disinfectant products for use in their facilities. Use products as directed on label only. Not all disinfectant brands are represented in this tool. Further information may be required in order to make an informed decision. Contact your organization's infection control department, the Association for Professionals in Infection Control, or the EPA for guidance and additional information.</p>
  </div>
  </body>
</html>
