<!DOCTYPE html>
<html ng-app="myApp">

<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js"></script>
    <script src="vendors/jquery-2.2.3.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <title>Disinfectant Selector Home Page</title>
  </head>
  <body>
    <div ng-controller='productController'>
      <div class="header">
        Hospital-Grade Surface Disinfectant Selector
      </div>
      <div class="container-fluid">
        <div class="row homeback">
          <div class="col-md-4">
          <h3>Welcome!</h3>
          <div class="displaycopy">
            <p>copy</p>
          </div>
          <h3>How to use this tool:</h3>
          <div class="displaycopy">
          <p>how to use copy</p>
          <p>For more information about surface disinfection, and infection control and prevention, please visit
          <a class="links" href=http://www.apic.org/Education-and-Events/Overview target="_blank">APIC's (the Association for Professionals in Infection Control and Epidemiology) Education page</a><p>
            </div>
        </div>
          <div class="col-md-8">
          <h3>About medical surface disinfection</h3>
          <p>cleaning vs disinfection, 99.9999% is medical grade, kill time vs. dry time, chemistry binding, material compatibility, human safety, ease of use
          </p>

        </div>
        </div> <!--end row-->
        <div align="center">
          <a href="/questionnaire" class="button btn"><h4>Continue to Selector</h4></a>
        </div><!--end button div-->
        <div class="footer">
          <p>copyright 2016 Susan Rehl</p>
          <p>Disclaimer: This tool is intended to assist hospital personnel in selecting surface disinfectant products for use in their facilities. Use products as directed on label only. Not all disinfectant brands are represented in this tool. Further information may be required in order to make an informed decision. Contact your organization's infection control department, the Association for Professionals in Infection Control, or the EPA for guidance and additional information.</p>
        </div><!--end footer-->
    </div><!--end container-->
  </div><!--end controller-->
  </body>
</html>
