<div>
      <h6>Scoring Method:</h6>
      <p>Highest (best) possible score: 30</p>
      <p>Score is the sum of 3 variables:</p>
      <p>Broad-Spectrum Pathogen Kill Score:</p>
        <ul>
          <li>10 - claims for all ESKAPE pathogens plus 20 others</li>
          <li>8 - claims for all ESKAPE pathogens plus 10 others</li>
          <li>7 - claims for half of ESKAPE pathogens plus 20 others</li>
          <li>5 - claims for half of ESKAPE pathogens plus 10 others</li>
          <li>3 - claims for at least 10 pathogens</li>
          <li>1 - claims for less than 10 pathogens</li>
        </ul>
      <p>Kill Time Score:</p>
        <ul>
          <li><b>10</b> - 1 minute or less</li>
          <li><b>9</b> - 1-2 minutes</li>
          <li><b>8</b> - 2-3 minutes</li>
          <li><b>7</b> - 3-4 minutes</li>
          <li><b>6</b> - 4-5 minute</li>
          <li><b>5</b> - 5-6 minutes</li>
          <li><b>4</b> - 6-7 minutes</li>
          <li><b>3</b> - 7-8 minutes</li>
          <li><b>2</b> - 8-9 minutes</li>
          <li><b>1</b> - >9 minutes</li>
        </ul>
        <p>Human Safety Score:</p>
          <ul>
            <li><b>10</b> - 0 Health Rating (no risk) in HMIS (first number)</li>
            <li><b>7</b> - 1 Health Rating (irritation can occur) in HMIS</li>
            <li><b>4</b> - 2 Health Rating (minor injury can occur) in HMIS</li>
            <li><b>1</b> - 3 Health Rating (major injury likely) in HMIS</li>
          </ul>
      </script>
