body, p {
  text-align: left;
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
}

h1 {
  color: #2b8857;
  padding-top: 50px;
}

h2, h3,h4 {
  color: #01377e;
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
}

a {
  color: #000;
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.spacing {
  padding: 10px;
}

.container-fluid {
  align: left;
  padding: 0 30px 0 20px;
}

.blueback {
  background-color: #e7f1fe;
}

.table-bordered {
  margin: 0 15px;
}

.radio {
  font-size: 17px;
}

.question {
  font-size: 22px;
  color: #01377e;
  margin-bottom: 0;
}

.scoreButton {
  position: absolute;
  top: 179px;
  left: 23px;
  background-color: #9cc6fc;
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";*/
}

.button {
  background-color: #9cc6fc;
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
  margin-bottom: 5px;
}

.button:hover {
    background-color: #8bdab0;
		cursor: pointer;
    text-decoration: none;
}

.indent {
  padding-left: 30px;
}

.header {
  background: linear-gradient(to right, #01377e, #2b8857);
  color: #FFF;
  font-size: 36px;
  padding: 35px 0 35px 50px;
}

.subhead {
  font-size: 32px;
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
  color: #2b8857;
  padding: 10px 0 15px 0;
}

.links {
  color: #2b8857;
  font-weight: 700;
}

.displaycopy {
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
  font: 18px/30px bold;
  padding: 25px 0 0 62px;
  margin: 0 -30px 0 -30px;
}

.footer {
  font: 12px/14px 'PT Sans Narrow', "Helvetica, sans-serif";
  background-color: #2b8857;
  color: #e7f1fe;
  margin: 15px 0 0 -55px;
  padding: 15px 30px 15px 60px;
}

/*Modal Styling:*/
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


/*Swiper Carousel styling*/
.swiper-container {
       width: 800px;
       height: 100%;
       margin: 20px 100px 20px 15px;
   }
   .swiper-slide {
       text-align: center;
       font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
       font-size: 18px;
       color: #2b8857;
       background: #e7f1fe;
       width: 250px;
       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
   }

.carcopy {
  /*height: 500px;*/
  font-family: 'PT Sans Narrow', "Helvetica, sans-serif";
  font-size: 22px;
  color: #8bdab0;
  }

.copy1 {
  margin: 40px 430px 250px 40px;
  padding: 15px;
  background-color: #01377e;
  width: 300px;
  height: 310px;
  opacity: .7;
}

.copy2 {
  margin: 40px 110px 280px 370px;
  padding: 15px;
  background-color: #01377e;
  width: 650px;
  height: 280px;
  opacity: .7;
}

.copy3 {
  margin: 40px 110px 130px 270px;
  padding: 15px;
  background-color: #01377e;
  width: 500px;
  height: 430px;
  opacity: .7;
}

.copy4 {
  margin: 200px 110px 50px 270px;
  padding: 15px;
  background-color: #01377e;
  width: 500px;
  height: 350px;
  opacity: .7;
}
